<header>
  <h1>Zac Colley</h1>
</header>

<main>
  <p>Front-end developer and designer. Performance, accessibility and UX.</p>
  <p>Also interested in: e-textiles, fashion in tech, education in computing and striving for inclusivity in tech.</p>
  <p>Email me at: <a href="mailto:hi@zaccolley.com">hi@zaccolley.com</a>. Tweeting at: <a href="https://twitter.com/zaccolley">@zaccolley</a>.</p>
  <p>Now I'm: a software boy working at <a href="https://songkick.com">Songkick</a>.</p>
  <p>I used to: work at <a href="https://rosedigital.co.uk">ROSE</a> and run <a href="http://hackpompey.co.uk">hackpompey</a>.</p>
  <ul>
    {{#if locations}}
    <li>
      <small>
        <time datetime="{{locations.0.time.iso}}">{{locations.0.time.human}}</time>
        The last place I was seen was&hellip;
      </small>
      {{#if locations.0.category}}
      <span class="image">
        <img src="{{locations.0.category.image}}" alt="Icon for {{locations.0.category.name}}" style="background-color: {{locations.0.category.colour}};" />
      </span>
      {{/if}}
      <a href="{{locations.0.uri}}">
        <div>{{locations.0.name}}</div>
        <small>{{locations.0.city}}, {{locations.0.state}}, {{locations.0.country}}</small>
      </a>
    </li>
    {{/if}}
    {{#if tracks}}
    <li>
      <small>
        <time datetime="{{tracks.0.time.iso}}">
          {{#if tracks.0.playing}}
            Playing now
          {{else}}
            {{tracks.0.time.human}}
          {{/if}}
        </time>
        The last song I listened to was&hellip;
      </small>
      {{#if tracks.0.image}}
      <span class="image">
        <img src="{{tracks.0.image}}" alt="Album art for {{tracks.0.name}} by {{tracks.0.artist}}" />
      </span>
      {{/if}}
      <a href="http://www.last.fm/user/zaccolley">
        <div>{{tracks.0.name}}</div>
        <small>{{tracks.0.artist}}</small>
      </a>
    </li>
    {{/if}}
    {{#if gigs}}
    <li>
      <small>
        <time datetime="{{gigs.0.time.iso}}">{{gigs.0.time.human}}</time>
        The last gig I went to was&hellip;
      </small>
      {{#if gigs.0.image.length}}
      <span class="image">
        <img src="{{gigs.0.image}}" alt="{{gigs.0.artists}} at {{gigs.0.venue}}" />
      </span>
      {{/if}}
      <a href="{{gigs.0.uri}}">
        <div>{{gigs.0.artists}}</div>
        <small>{{gigs.0.venue}}</small>
      </a>
    </li>
    {{/if}}
    {{#if films}}
    <li>
      <small>
        <time datetime="{{films.0.time.watched.iso}}">{{films.0.time.watched.human}}</time>
        The last film I watched was&hellip;
      </small>
      <span class="image">
        <img src="{{films.0.film.image.small}}" alt="{{films.0.film.title}}'s film poster" />
      </span>
      <a href="{{films.0.uri}}">{{films.0.film.title}} <small>({{films.0.film.year}})</small></a>
      {{#if films.0.rating}}
        <span class="rating" title="{{films.0.rating.score}}">{{films.0.rating.text}}</span>
      {{/if}}
      {{#unless films.0.spoilers}}
      {{#if films.0.review}}
        <blockquote>{{films.0.review}}</blockquote>
      {{/if}}
      {{/unless}}
    </li>
    {{/if}}
    {{#if tweets}}
    <li>
      <small>
        <time datetime="{{tweets.0.time.iso}}">{{tweets.0.time.human}}</time>
        My last tweet was&hellip;
      </small>
      {{#if tweets.0.images.length}}
      <span class="image">
        <img src="{{tweets.0.images.0.uri}}" alt="{{tweets.0.text}}" />
      </span>
      {{/if}}
      <a href="{{tweets.0.uri}}">
        {{tweets.0.text}}
      </a>
    </li>
    {{/if}}
    {{#if code}}
    <li>
      <small>
        <time datetime="{{code.0.time.iso}}">{{code.0.time.human}}</time>
        The last code I pushed publically was to&hellip;
      </small>
      <div class="image">
        {{#each code.0.languages as |language|}}
          <div class="code-image" title="{{language.name}}" style="width:{{language.percentage}}%;background:{{language.color}};"></div>
        {{/each}}
      </div>
      <a href="{{code.0.repo.uri}}">{{code.0.repo.name}}</a>
      <ol class="commits">
        {{#each code.0.commits as |commit|}}
        <li><a href="{{commit.uri}}">{{commit.message}}</a></li>
        {{/each}}
      </ol>
    </li>
    {{/if}}
    {{#if books}}
    <li>
      <small>
        <time datetime="{{books.0.time.read.iso}}">{{books.0.time.read.human}}</time>
        The last book I read was&hellip;
      </small>
      <span class="image">
        <img src="{{books.0.book.image}}" alt="{{books.0.book.title}}'s cover" />
      </span>
      <a href="{{books.0.uri}}">{{books.0.book.title}}</a>
      {{#if books.0.rating}}
        <span class="rating" title="{{books.0.rating.score}}">{{books.0.rating.text}}</span>
      {{/if}}
      {{#unless books.0.spoilers}}
      {{#if books.0.review}}
        <blockquote>{{books.0.review}}</blockquote>
      {{/if}}
      {{/unless}}
    </li>
    {{/if}}
    {{#if code}}
    <li>
      <small>
        <time datetime="{{vids.0.time.iso}}">{{vids.0.time.human}}</time>
        The last vid I liked was&hellip;
      </small>
      <div class="image">
        <img src="{{vids.0.image}}" alt="{{vids.0.title}}'s thumbnail" />
      </div>
      <a href="{{vids.0.uri}}">{{vids.0.title}}</a>
    </li>
    {{/if}}
    {{#if productivity}}
    <li>
      <small>
        <time datetime="{{productivity.0.time.iso}}">{{productivity.0.time.human}}</time>
        The apps/sites I used yesterday showed I was&hellip;
      </small>
      <div class="image">
        <div class="code-image" title="Very productive: {{productivity.0.very_productive.duration}}" style="width:{{productivity.0.very_productive.percentage}}%;background:#2f78bd;"></div>
        <div class="code-image" title="Productive: {{productivity.0.productive.duration}}" style="width:{{productivity.0.productive.percentage}}%;background:#395b96;"></div>
        <div class="code-image" title="Neutral: {{productivity.0.neutral.duration}}" style="width:{{productivity.0.neutral.percentage}}%;background:#655568;"></div>
        <div class="code-image" title="Distracting: {{productivity.0.distracting.duration}}" style="width:{{productivity.0.distracting.percentage}}%;background:#92343b;"></div>
        <div class="code-image" title="Very distracting: {{productivity.0.very_distracting.duration}}" style="width:{{productivity.0.very_distracting.percentage}}%;background:#c5392f;"></div>
      </div>
      <em>{{productivity.0.score}}%</em> productive over a tracked period of <em>{{productivity.0.total_duration}}</em>&hellip;
    </li>
    {{/if}}
  </ul>

  <time datetime="{{time.iso}}">Data updated at {{time.human}}</time>
</main>

<aside>
  <ol>
    <li><time datetime="2017-01-01">01-01-2017</time> <a href="https://domains.zaccolley.com/">domains</a> &bull; domain hacks based on words</li>
    <li><time datetime="2016-12-12">12-12-2016</time> <a href="https://chrome.google.com/webstore/detail/songkick-spotify-previews/dhiagiejffhdgpipbmcpcncepoicbhkb">Songkick Spotify Previews</a> &bull; add 30 sec spotify previews to songkick</li>
    <li><time datetime="2016-08-30">30-08-2016</time> <a href="http://happybirthdaynan.surge.sh/">Animal Crossing Birthday Card for me Nan</a> &bull; fun lil card</li>
    <li><time datetime="2016-03-02">02-03-2016</time> <a href="https://zaccolley.com/stuff/damndaniel/">damn daniels hack for Fashion Hack</a> &bull; built w/ my buddy <a href="https://twitter.com/benharris___">benno</a></li>
    <li><time datetime="2015-03-02">2014 - 2016</time> <a href="http://hackpompey.co.uk">hackpompey</a> &bull; pompey based hackday, ran 5 before handing over</li>
    <li><time datetime="2016-01-01">2014 - 2016</time> <a href="https://rosedigital.co.uk">ROSE Digital</a> &bull; front-end and design at ROSE digital</li>
    <li><time datetime="2015-08-09">09-08-2015</time> <a href="http://nickcolley.github.io/itsyourbirthdaytoday/#lol">itsyourbirthdaytoday</a> &bull; w/ my bro</li>
    <li><time datetime="2015-07-30">30-07-2015</time> <a href="http://teamlocals.co.uk">Team Locals</a> &bull; design and built from ALL THE WAY UP</li>
    <li><time datetime="2014-08-04">04-08-2014</time> <a href="http://rosedigital.co.uk/work/2014/08/04/upgs.html">UPGS</a> &bull; design and initial front-end for the Gaming soc</li>
    <li><time datetime="2014-04-02">02-04-2014</time> <a href="http://www.phphants.co.uk/">PHP Hants</a> &bull; front-end revamp and improvements</li>
    <li><time datetime="2013-09-11">11-09-2013</time> <a href="/stuff/efji/">efji</a> &bull; A small (shit) canvas game</li>
    <li><time datetime="2013-09-09">09-09-2013</time> <a href="http://uopcs.com">The Computing Society's Website</a></li>
    <li><time datetime="2013-07-01">01-07-2013</time> <a href="http://rosedigital.co.uk/work/2014/04/16/upracing.html" title="UPRacing">UPRacing's Website</a> &bull; site for a formula student team i was part of</li>
    <li><time datetime="2013-03-23">23-03-2013</time> <a href="/stuff/foraaron/">Gameboy</a> &bull; Birthday present for my boy aaron</li>
    <li><time datetime="2012-12-25">25-12-2012</time> <a href="/stuff/christmas2012/">Christmas Card Maker</a> &bull; Made with my festive bro</li>
    <li><time datetime="2012-11-27">27-11-2012</time> <a href="/stuff/forrich">Birthday Cake</a> &bull; a cake yo.</li>
    <li><time datetime="2011-02-14">14-02-2011</time> <a href="http://minecraftexplore.tumblr.com">Minecraft Explore</a> &bull; <em>no updates now</em> :¬(</li>
    <li><time datetime="2003-01-01">circa 2003?</time> If they hadn't taken down my piczo that'd be here too.</li>
  </ol>
</aside>
