<h1>Zac Colley</h1>

<p>Data updated at <time datetime="{{time.iso}}">{{time.human}}</time>.</p>

<main>

  <section>
    <h2>Tracks</h2>

    <ul class="items">
    {{#each tracks}}
    <li class="item item--track{{#if playing}} item--track--playing{{/if}}">
    <a href="{{uri}}">
      <img class="item__image" src="{{image}}" alt="Album art for {{name}} by {{artist}}" />
      <span class="item__description">{{name}} by {{artist}}</span>
    </a>
    </li>
    {{/each}}
    </ul>
  </section>

  <section>
    <h2>Films</h2>

    <ul class="items items--films">
    {{#each films}}
    <li class="item">
    <a href="{{uri}}">
      <img class="item__image" src="{{film.image.tiny}}" alt="Box art for {{name}}" />
      <span class="item__description">{{film.title}}</span>
    </a>
    </li>
    {{/each}}
    </ul>
  </section>

  <section>
    <h2>Books</h2>

    <ul class="items items--books">
    {{#each books}}
    <li class="item">
    <a href="{{uri}}">
      <img class="item__image" src="{{image}}" alt="Cover for {{name}}" />
      <span class="item__description">{{title}}</span>
    </a>
    </li>
    {{/each}}
    </ul>
  </section>

  <section>
    <h2>Gigs</h2>

    <ul class="items items--gigs">
    {{#each gigs}}
    <li class="item">
    <a href="{{uri}}">
      <span class="item__description">{{name}}</span>
    </a>
    </li>
    {{/each}}
    </ul>
  </section>

  <section>
    <h2>Tweets</h2>

    <ul class="items items--tweets">
    {{#each tweets}}
    <li class="item">
      <span class="item__description">{{{text.html}}}</span>
    </li>
    {{/each}}
    </ul>
  </section>

</main>
